.aboutContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 70px;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Cor de fundo da seção */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.introContent h1 {
    font-size: 2.5rem;
    color: #333; /* Cor do título principal */
    margin-bottom: 20px;
}

.introContent p {
    font-size: 1.2rem;
    color: #555; /* Cor do texto para maior legibilidade */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.education,
.certifications {
    margin-bottom: 40px;
}

.education h2,
.certifications h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; /* Cor dos subtítulos */
    border-bottom: 2px solid #e0e0e0; /* Linha de destaque neutra */
    display: inline-block;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 10px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    color: #555; /* Cor do texto dos itens da lista para melhor leitura */
}

ul li strong {
    color: #007bff; /* Cor dos itens em negrito */
}

/* Responsividade */
@media (max-width: 1024px) {
    .aboutContainer {
        padding: 50px;
    }

    .introContent h1 {
        font-size: 2rem;
    }

    .introContent p {
        font-size: 1.1rem;
    }

    .education h2,
    .certifications h2 {
        font-size: 1.8rem;
    }

    ul li {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .aboutContainer {
        padding: 30px;
    }

    .introContent h1 {
        font-size: 1.8rem;
    }

    .introContent p {
        font-size: 1rem;
        max-width: 100%; /* O texto ocupará toda a largura disponível */
    }

    .education h2,
    .certifications h2 {
        font-size: 1.6rem;
    }

    ul li {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .aboutContainer {
        padding: 20px;
    }

    .introContent h1 {
        font-size: 1.5rem;
    }

    .introContent p {
        font-size: 0.9rem;
    }

    .education h2,
    .certifications h2 {
        font-size: 1.4rem;
    }

    ul li {
        font-size: 0.8rem;
    }
}
