.contactContainer {
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #f4f4f9; /* Cor de fundo da seção */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.contactForm input,
.contactForm textarea {
    padding: 12px;
    border: 1px solid #ddd; /* Cor das bordas ajustada */
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff; /* Cor de fundo dos campos de entrada */
    width: 100%; /* Garantir que os campos ocupem a largura total do formulário */
}

.contactForm textarea {
    resize: vertical; /* Permitir redimensionamento vertical */
    min-height: 150px; /* Definir altura mínima para o textarea */
}

.contactForm button {
    padding: 12px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; /* Transição suave */
    width: 100%; /* Garantir que o botão ocupe a largura total do formulário */
}

.contactForm button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.contactGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.contactGrid div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactGrid p {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
    margin: 10px 0; /* Margem ajustada */
    font-size: 1em; /* Tamanho da fonte ajustado */
    color: #333; /* Cor do texto */
}

.contactGrid a {
    text-decoration: none;
    color: #007bff; /* Cor do link */
    font-size: 1em; /* Tamanho da fonte ajustado */
}

.contactGrid a:hover {
    text-decoration: underline;
    color: #0056b3; /* Cor do link ao passar o mouse */
}

@media (min-width: 768px) {
    .contactGrid {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas para telas maiores */
    }
}
