.header {
    background-color: #222; /* Cor de fundo do header */
    color: #f5f5f5; /* Cor do texto */
    padding: 17px 20px;
    position: relative;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d9d9d9; /* Cor do logo */
}

.headerNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.headerNav ul li a {
    color: #f5f5f5; /* Cor dos links */
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.headerNav ul li a:hover {
    color: #66b3ff; /* Cor de destaque no hover */
}

.menuIcon {
    display: none;
    font-size: 2rem;
    color: #f5f5f5;
    cursor: pointer;
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    .logo h1{
        font-size: 1em;
    }
    .headerContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .headerNav {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #222;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .headerNav.open {
        display: flex;
    }

    .headerNav ul {
        flex-direction: column;
        gap: 15px;
    }

    .menuIcon {
        display: block; /* Mostrar ícone de hambúrguer em dispositivos menores */
        font-size: 1em;
    }
}
